.css_id_cliente_pedido_label {text-align:;}
.css_id_cliente_pedido_line {text-align:left;}
.css_id_cliente_pedido_obj {text-align:left;}
.css_id_produtor_label { }
.css_id_produtor_line {text-align:left;}
.css_id_produtor_obj {text-align:left;}
.css_id_produto_label { }
.css_id_produto_line {text-align:left;}
.css_id_produto_obj {text-align:left;}
.css_quantidade_label {text-align:;}
.css_quantidade_line {text-align:left;}
.css_quantidade_obj {text-align:left;}
.css_valor_label { }
.css_valor_line {text-align:left;}
.css_valor_obj {text-align:left;}
.css_prazo_entrega_label { }
.css_prazo_entrega_line { }
.css_prazo_entrega_obj { }
.css_regiao_label { }
.css_regiao_line { }
.css_regiao_obj { }
