.css_id_produto_label, .css_id_produto_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_id_produto_grid_line, .css_id_produto_grid_line:hover {vertical-align: top;text-align: left;}
.css_produto_label, .css_produto_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_produto_grid_line, .css_produto_grid_line:hover {vertical-align: top;text-align: left;}
.css_descricao_label, .css_descricao_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_descricao_grid_line, .css_descricao_grid_line:hover {vertical-align: top;text-align: left;}
.css_categoria_label, .css_categoria_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_categoria_grid_line, .css_categoria_grid_line:hover {vertical-align: top;text-align: left;}
.css_tipo_label, .css_tipo_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipo_grid_line, .css_tipo_grid_line:hover {vertical-align: top;text-align: left;}
.css_un_label, .css_un_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_un_grid_line, .css_un_grid_line:hover {vertical-align: top;text-align: left;}
.css_indicacao_geografica_label, .css_indicacao_geografica_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_indicacao_geografica_grid_line, .css_indicacao_geografica_grid_line:hover {vertical-align: top;text-align: left;}
