.css_id_pessoa_label, .css_id_pessoa_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_id_pessoa_grid_line, .css_id_pessoa_grid_line:hover {vertical-align: top;text-align: left;}
.css_nome_pessoa_label, .css_nome_pessoa_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_nome_pessoa_grid_line, .css_nome_pessoa_grid_line:hover {vertical-align: top;text-align: left;}
.css_razao_social_label, .css_razao_social_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_razao_social_grid_line, .css_razao_social_grid_line:hover {vertical-align: top;text-align: left;}
.css_cnpj_label, .css_cnpj_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cnpj_grid_line, .css_cnpj_grid_line:hover {vertical-align: top;text-align: left;}
.css_uf_label, .css_uf_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_uf_grid_line, .css_uf_grid_line:hover {vertical-align: top;text-align: left;}
.css_cidade_label, .css_cidade_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cidade_grid_line, .css_cidade_grid_line:hover {vertical-align: top;text-align: left;}
.css_tipo_pessoa_label, .css_tipo_pessoa_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_tipo_pessoa_grid_line, .css_tipo_pessoa_grid_line:hover {vertical-align: top;text-align: left;}
.css_cpf_label, .css_cpf_label:hover {text-align:left;vertical-align:middle;justify-content:left;font-weight:bold;}
.css_cpf_grid_line, .css_cpf_grid_line:hover {vertical-align: top;text-align: left;}
