.css_id_pessoa_produto__label {text-align:;}
.css_id_pessoa_produto__line {text-align:left;}
.css_id_pessoa_produto__obj {text-align:left;}
.css_id_produto__label { }
.css_id_produto__line {text-align:left;}
.css_id_produto__obj {text-align:left;}
.css_data_certificacao__label { }
.css_data_certificacao__line { }
.css_data_certificacao__obj { }
.css_validade_certificacao__label { }
.css_validade_certificacao__line { }
.css_validade_certificacao__obj { }
.css_preco_medio__label {text-align:;}
.css_preco_medio__line {text-align:left;}
.css_preco_medio__obj {text-align:left;}
.css_quantidade_minima_pedido__label {text-align:;}
.css_quantidade_minima_pedido__line {text-align:left;}
.css_quantidade_minima_pedido__obj {text-align:left;}
.css_requisito_transporte__label { }
.css_requisito_transporte__line { }
.css_requisito_transporte__obj { }
.css_prazo_dias_envio__label { }
.css_prazo_dias_envio__line {text-align:left;}
.css_prazo_dias_envio__obj {text-align:left;}
